@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
--heading-font: "JetBrains Mono", "sans-serif";
--paragraph-font: Eczar, Helvetica, sans-serif;
}

.content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font) ;
   
}
header{
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    display: flex;
    justify-content: space-around;
}
h2{
    margin: 0;
}
.home-title{
    font-family: var(--heading-font) ;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2{
    font-family: var(--heading-font) ;
}

#background {
    height: 725px;
    background-color: aqua;
    color: black;
    grid-column: 1/11;
    grid-row: 4/9;

}
body{
    background-color: #8BBEB2 ;
    color: slateblue;
    margin: 0;
    padding: 0;
}
header{
    background-color: #18314F ;
    border: 5px;
    color: blueviolet;
}
.logo_id{
    padding-top: 5px;
}
nav a{
    text-decoration: none;
    text-align: center;
    padding: 35px;

}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

nav a:hover{
    background-color: #E6F9AF;
    color: darkcyan;
}
#hero{
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;

}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: white;
}
.buttonbox{
    text-align: center;
}
main{
    text-align: center;

}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}
main section img{
    box-sizing: border-box;
}
.card-img{
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains{
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;

}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

footer{
    background-color: #0D0630;
    color: #E6F9AF;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer a{
    text-decoration: none;
    
}
footer .social img{
    padding-top: 15px;

}
.msg{
    background-color: white;
    color: #0D0630;
    text-decoration: none;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

.join{
    background-color: #E6F9AF;
    color: indigo;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book{
    background-color: #E6F9AF;
    color: indigo;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;

}
.icon{
    width: 80px ;
    padding-top: 10px;
    }
.logo{
    width: 80px;
}
.faq-text{
    padding: 10%;
}
.form {
    /* Center the form on the page */
    text-align: center;
  }
  
  form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
  


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}